<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Learnr</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="/img/logo.png" style="width: 50px;" alt="logo" />
        </header>
        {{{body}}}
    </body>
</html>
